# Ignore all .pkl, .out, .json, .pdf, .png, .pyc, .csv files and slurm_outputs directory
*.pkl
*.out
*.json
*.pdf
*.png
*.pyc
*.csv
slurm_outputs/

# Unignore specific .pkl files
!/ModelSave/dataset_ComCat_model_SMASH_sigma_0.2_0.25_log_1_seed_2_dim_16_lambda_0.5_seq_len_150_marked_output_1/*
!/ModelSave/dataset_WHITE_model_SMASH_sigma_0.2_0.25_log_1_seed_2_dim_16_lambda_0.5_seq_len_150_marked_output_1/*
!/ModelSave/dataset_SCEDC_model_SMASH_sigma_0.2_0.25_log_1_seed_2_dim_16_lambda_0.5_seq_len_150_marked_output_1/*
!/ModelSave/dataset_SanJac_model_SMASH_sigma_0.2_0.25_log_1_seed_2_dim_16_lambda_0.5_seq_len_150_marked_output_1/*
!/ModelSave/dataset_SaltonSea_model_SMASH_sigma_0.2_0.25_log_1_seed_2_dim_16_lambda_0.5_seq_len_150_marked_output_1/*


# Unignore specific directories
!/dataset/SCEDC/*
!/dataset/ComCat/*
!/dataset/WHITE/*
!/dataset/SanJac/*
!/dataset/SaltonSea/*

# Ignore temporary Python files
process_slurm_outputs.py
test_projection.py
visualize_samples.py



